---
services:
  prowlarr:
    image: {{ prowlarr_docker_image }}:{{ prowlarr_version }}
    container_name: {{ prowlarr_container_name }}
    environment:
      - PUID={{ prowlarr_puid }}
      - PGID={{ prowlarr_pgid }}
      - TZ={{ prowlarr_timezone }}
    volumes:
      - {{ prowlarr_config_dir }}:/config
    ports:
      - {{ prowlarr_port }}:9696
    restart: {{ prowlarr_docker_restart_policy }}
{% if prowlarr_memory_limit %}
    mem_limit: {{ prowlarr_memory_limit }}
{% endif %}
