[DEFAULT]
bantime = {{ bastion_security.fail2ban_bantime }}
findtime = 600
maxretry = {{ bastion_security.fail2ban_maxretry }}

[sshd]
enabled = true
port = {{ bastion_security.ssh_port }}
logpath = /var/log/auth.log
backend = systemd
