---
# Docker Compose file for Sonarr
# Managed by Ansible - {{ ansible_managed }}

services:
  sonarr:
    image: {{ sonarr_docker_image }}:{{ sonarr_version }}
    container_name: {{ sonarr_container_name }}
    security_opt:
      - no-new-privileges:true
    environment:
      - PUID={{ sonarr_puid }}
      - PGID={{ sonarr_pgid }}
      - TZ={{ sonarr_timezone }}
    volumes:
      - {{ sonarr_config_dir }}:/config
      - {{ sonarr_media_dir }}:/tv
      - {{ sonarr_download_dir }}:/downloads
{% for volume in sonarr_extra_volumes %}
      - {{ volume }}
{% endfor %}
    ports:
      - {{ sonarr_port }}:8989
    restart: {{ sonarr_docker_restart_policy }}
{% if sonarr_memory_limit %}
    mem_limit: {{ sonarr_memory_limit }}
{% endif %}
