# AdGuard Home configuration with security focus
bind_host: 0.0.0.0
bind_port: 80
users:
  - name: admin
    password: "{{ adguard_admin_password_hash }}"
auth_attempts: 5
block_auth_min: 15

http_proxy: ""
language: en
rlimit_nofile: 8192
debug_pprof: false
web_session_ttl: 720

dns:
  bind_hosts:
    - 0.0.0.0
  port: 53
  statistics_interval: 24h
  querylog_enabled: true
  querylog_file_enabled: true
  querylog_interval: 24h
  querylog_size_memory: 1000
  anonymize_client_ip: false
  protection_enabled: true
  blocking_mode: default
  blocking_ipv4: ""
  blocking_ipv6: ""
  blocked_response_ttl: 10
  parental_block_host: family-block.dns.adguard.com
  safebrowsing_block_host: standard-block.dns.adguard.com
  rewrites: []
  
  # Upstream DNS - point to Unbound for recursive resolution
  upstream_dns:
    - 192.168.0.202:53
  upstream_dns_file: ""
  bootstrap_dns:
    - 1.1.1.1
    - 1.0.0.1
  all_servers: true
  fastest_addr: false
  allowed_clients: 
    - 192.168.0.0/24
  disallowed_clients: []
  blocked_hosts:
    - version.bind
    - id.server
    - hostname.bind
  cache_size: 4194304
  cache_ttl_min: 0
  cache_ttl_max: 0
  bogus_nxdomain: []
  aaaa_disabled: false
  enable_dnssec: true
  edns_client_subnet: false
  max_goroutines: 300
  ipset: []
  filtering_enabled: true
  filters_update_interval: 24
  parental_enabled: false
  safesearch_enabled: false
  safebrowsing_enabled: true
  resolve_clients: true
  use_private_ptr_resolvers: true
  local_ptr_upstreams:
    - 192.168.0.202:53

# Enhanced security filters
filters:
  - enabled: true
    url: https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt
    name: AdGuard DNS filter
    id: 1
  - enabled: true  
    url: https://someonewhocares.org/hosts/zero/hosts
    name: Dan Pollock's List
    id: 2
  - enabled: true
    url: https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
    name: Steven Black's List
    id: 3
  - enabled: true
    url: https://malware-filter.gitlab.io/malware-filter/urlhaus-filter-dns.txt
    name: Malware Domain Blocklist
    id: 4
  - enabled: true
    url: https://phishing.army/download/phishing_army_blocklist_extended.txt
    name: Phishing Army
    id: 5

whitelist_filters: []

# Custom blocked services for security
blocked_services:
  - facebook
  - instagram
  - snapchat
  - tiktok
  - twitter

user_rules:
  # Block known malicious TLDs
  - "||tk^$important"
  - "||ml^$important" 
  - "||ga^$important"
  - "||cf^$important"
  # Allow homelab services
  - "@@||homelab.local^$important"
  # Block telemetry
  - "||telemetry.mozilla.org^$important"
  - "||analytics.google.com^$important"

dhcp:
  enabled: false

clients: []
log_compress: false
log_localtime: false
log_max_backups: 0
log_max_size: 100
log_max_age: 3
log_file: ""
verbose: false
schema_version: 12