---
# PVE Exporter configuration
default:
  user: {{ pve_exporter_pve_user }}
{% if pve_exporter_pve_token_name and pve_exporter_pve_token_value %}
  token_name: {{ pve_exporter_pve_token_name }}
  token_value: {{ pve_exporter_pve_token_value }}
{% else %}
  password: {{ pve_exporter_pve_password }}
{% endif %}
  verify_ssl: {{ pve_exporter_verify_ssl | lower }}
