# {{ ansible_managed }}
# rsyslog configuration

#################
#### MODULES ####
#################

module(load="imuxsock") # provides support for local system logging
module(load="imklog")   # provides kernel logging support

###########################
#### GLOBAL DIRECTIVES ####
###########################

# Use traditional timestamp format
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

# Set max message size
$MaxMessageSize {{ rsyslog_config.max_message_size | default('64k') }}

# Preserve FQDN
$PreserveFQDN {{ 'on' if rsyslog_config.preserve_fqdn | default(true) else 'off' }}

# Filter duplicated messages
$RepeatedMsgReduction on

# Set the default permissions for all log files
$FileOwner root
$FileGroup adm
$FileCreateMode 0640
$DirCreateMode 0755
$Umask 0022

# Where to place spool and state files
$WorkDirectory /var/spool/rsyslog

# Include all config files in /etc/rsyslog.d/
$IncludeConfig /etc/rsyslog.d/*.conf

###############
#### RULES ####
###############

# Log auth messages to auth.log
auth,authpriv.*                 /var/log/auth.log

# Log all kernel messages to kern.log
kern.*                          /var/log/kern.log

# Log anything (except mail) of level info or higher
*.*;auth,authpriv.none          -/var/log/syslog

# Log cron stuff
cron.*                          /var/log/cron.log

# Emergencies are sent to everybody logged in
*.emerg                         :omusrmsg:*
