---
services:
  jellyfin:
    image: {{ jellyfin_docker_image }}:{{ jellyfin_version }}
    container_name: {{ jellyfin_container_name }}
    user: "{{ jellyfin_puid }}:{{ jellyfin_pgid }}"
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ={{ jellyfin_timezone }}
    volumes:
      - {{ jellyfin_config_dir }}:/config
      - {{ jellyfin_cache_dir }}:/cache
      - {{ jellyfin_media_dir }}:/media:ro
{% for volume in jellyfin_extra_volumes %}
      - {{ volume }}
{% endfor %}
    ports:
      - {{ jellyfin_port }}:8096
      - {{ jellyfin_https_port }}:8920
    restart: {{ jellyfin_docker_restart_policy }}
{% if jellyfin_memory_limit %}
    mem_limit: {{ jellyfin_memory_limit }}
{% endif %}
{% if jellyfin_hardware_acceleration %}
    devices:
      - {{ jellyfin_gpu_device }}:{{ jellyfin_gpu_device }}
    group_add:
      - "render"
      - "video"
{% endif %}
