// Automatically upgrade packages from these repositories
Unattended-Upgrade::Allowed-Origins {
        "${distro_id}:${distro_codename}";
        "${distro_id}:${distro_codename}-security";
        "${distro_id}ESMApps:${distro_codename}-apps-security";
        "${distro_id}ESM:${distro_codename}-infra-security";
        "${distro_id}:${distro_codename}-updates";
};

// Python regular expressions, matching packages to exclude from upgrading
Unattended-Upgrade::Package-Blacklist {
};

// This option allows you to control if on a unclean dpkg exit
// unattended-upgrades will automatically run
//   dpkg --force-confold --configure -a
Unattended-Upgrade::AutoFixInterruptedDpkg "true";

// Split the upgrade into the smallest possible chunks so that
// they can be interrupted with SIGTERM.
Unattended-Upgrade::MinimalSteps "true";

// Install all available upgrades or just security upgrades
Unattended-Upgrade::DevRelease "auto";

// Send email to this address for problems or packages upgrades
{% if security_hardening.unattended_upgrades.mail_on_error %}
Unattended-Upgrade::Mail "{{ security_hardening.unattended_upgrades.email_address }}";
Unattended-Upgrade::MailOnlyOnError "true";
{% else %}
//Unattended-Upgrade::Mail "";
{% endif %}

// Automatically remove unused automatically installed kernel-related packages
Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";

// Automatically remove new unused dependencies after the upgrade
Unattended-Upgrade::Remove-New-Unused-Dependencies "true";

// Automatically remove unused packages after the upgrade
Unattended-Upgrade::Remove-Unused-Dependencies "true";

// Automatically reboot *WITHOUT CONFIRMATION*
{% if security_hardening.unattended_upgrades.auto_reboot %}
Unattended-Upgrade::Automatic-Reboot "true";
Unattended-Upgrade::Automatic-Reboot-Time "{{ security_hardening.unattended_upgrades.auto_reboot_time }}";
{% else %}
Unattended-Upgrade::Automatic-Reboot "false";
{% endif %}

// Use apt bandwidth limit feature
//Unattended-Upgrade::Acquire::http::Dl-Limit "70";

// Enable logging to syslog
Unattended-Upgrade::SyslogEnable "true";
Unattended-Upgrade::SyslogFacility "daemon";

// Download and install upgrades only on AC power
// (i.e. skip or gracefully stop updates on battery)
//Unattended-Upgrade::OnlyOnACPower "true";

// Download and install upgrades only on non-metered connection
// (i.e. skip or gracefully stop updates on a metered connection)
Unattended-Upgrade::Skip-Updates-On-Metered-Connections "true";

// Verbose logging
Unattended-Upgrade::Verbose "true";
