---
groups:
  - name: monitoring_agent
    rules:
{% for rule in alert_rules %}
      - alert: {{ rule.name | title | replace('_', '') }}
        expr: {{ rule.condition }}
        for: {{ rule.duration }}
        labels:
          severity: {{ rule.severity }}
          host: {{ inventory_hostname }}
        annotations:
          description: "{{ rule.description }}"
{% endfor %}
