[Unit]
Description=Node Exporter
Documentation=https://github.com/prometheus/node_exporter
After=network.target

[Service]
User={{ monitoring_user }}
Group={{ monitoring_user }}
Type=simple
ExecStart=/usr/local/bin/node_exporter \
  --web.listen-address=:{{ node_exporter_port }} \
  --collector.systemd \
  --collector.processes
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths={{ monitoring_data_dir }}

[Install]
WantedBy=multi-user.target
